@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fade-in 150ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 150ms ease-in-out forwards;
    pointer-events: none;
}

.context-menu {
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: max-content;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff10;
    color: #ffffff;
    box-shadow: 0px 0px 6px 0px #00000052, inset 0 0 0 0.5px #ffffff38;
}

.context-menu-button {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    padding: 10px 14px;
    transition: 150ms ease-in-out;
    width: 100%;
    user-select: none;
    cursor: var(--cursor-pointer);
}

.context-menu-button:hover {
    background-color: #ffffff3c;
}