::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff28;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff10;
    border-radius: 8px;
}
