.music-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.info {
    text-align: left;
    margin-top: -19px;
}

.playerctrl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 24px;
    margin-top: -30px;
    margin-left: 154px;
}

.playerctrl button {
    margin-left: 10px;
    width: 16px;
}

.seekbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -12px;
}

.bar {
    flex-grow: 1;
    height: 5px;
    background-color: #7D7D7D;
    margin: 0 10px;
    border-radius: 6px;
}

#currenttime,
#endtime {
    margin: 0;
    font-size: 12px;
    color: white;
}

.track {
    color: white;
    font-size: 12px;
    font-weight: bolder;
}

.artist {
    color: #B8B8B8;
    font-weight: bolder;
    font-size: 10px;
}
