@font-face {
	font-family: Inter;
	src: url(/fonts/Inter.ttf);
}

body {
	font-family: Inter;
	margin: 0;
	padding: 0;
	color: #b6b6b6;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #000000b9;
}

#term {
	padding: 2.5px;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}

#output {
	min-height: 200px;
	overflow-y: auto;
	font-family: monospace;
	flex-grow: 1;
	scrollbar-color: #ffffff1f transparent;
	scrollbar-width: thin;
}

#output::-webkit-scrollbar {
	width: 8px;
}

#output::-webkit-scrollbar-track {
	background-color: transparent;
}

#output::-webkit-scrollbar-thumb {
	background-color: #ffffff1f;
	border-radius: 4px;
}

#output::-webkit-scrollbar-thumb:hover {
	background-color: #ffffff3c;
}

#output::-webkit-scrollbar-thumb:active {
	background-color: #ffffff5c;
}

#output div {
	white-space: pre-wrap;
}

.user-input {
	display: flex;
	align-items: center;
}

#input {
	border: none;
	outline: none;
	background-color: transparent;
	color: #ffffff;
	padding: 0;
	font-family: monospace;
	cursor: default;
	margin-left: -2px;
}

.error-text {
	color: #e64343;
}
