@font-face {
	font-family: Inter;
	src: url(/fonts/Inter.ttf);
}

* {
	font-family: Inter;
}

html,
body {
	height: 100%;
	margin: 0;
	font-family: Inter;
	position: relative;
	overflow: hidden;
}

body {
	display: flex;
	color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* big screen */
@media screen and (max-width: 1920px) {
	.wallpaper-option {
		width: 200px;
		height: 112px;
	}
}

/* small screen */
@media screen and (max-width: 646px) {
	.cat-option {
		padding-right: 0px;
	}

	.cat-option .text {
		position: absolute;
		opacity: 0;
	}

	.cat-option .icon:hover {
		background-color: #ffffff28;
	}

	.cat-option .icon svg {
		width: 24px;
		height: auto;
	}

	.category-search {
		width: 100px;
	}

	.wallpapers {
		width: 400px;
	}

	.wallpaper-option {
		width: 130px;
		height: 73px;
	}
}

.category-search {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 8px 10px;
	background-color: #ffffff20;
	font-weight: 700;
	font-family: Inter;
	font-size: 16px;
	line-height: 16px;
	color: #dedede;
	border: none;
	border-radius: 6px;
	transition: 150ms ease-in-out;
}

.category-search:focus {
	outline: none;
}

.cat-option .text {
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	transition-property: color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	pointer-events: none;
}

.cat-option:hover {
	color: #ffffff98;
}

.cat-option {
	color: #ffffff52;
}

.cat-option:hover {
	color: #ffffff;
}

.cat-option {
	position: relative;
	display: flex;
	gap: 8px;
	align-items: center;
	height: min-content;
	cursor: var(--cursor-pointer);
}

.cat-option.selected {
	color: #ffffff !important;
}

.cat-option .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	border-radius: 8px;
	transition-property: color, background-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

.cat-option .icon svg {
	pointer-events: none;
}

.cat-tooltip {
	background-color: #ffffff10;
	border: 1px solid #ffffff28;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 600;
	font-family: Inter;
	position: absolute;
	left: calc(36px + 8px);
	backdrop-filter: blur(100px) contrast(0.8) brightness(0.8);
	z-index: 99;
	pointer-events: none;
	padding: 4px 8px;
	opacity: 1;
	transition: 150ms ease-in-out;
}

.cat-tooltip.hidden {
	opacity: 0;
	left: calc(36px);
}

.sidebar {
	position: relative;
	display: flex;
	/* background-color: #ffffff24; */
	border-radius: 8px;
}

.settings-category::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.settings-category::-webkit-scrollbar-thumb {
	background-color: #ffffff28;
	border-radius: 8px;
}

.settings-category::-webkit-scrollbar-track {
	background-color: #ffffff10;
	border-radius: 8px;
}

.settings-category {
	scrollbar-color: #ffffff28 #ffffff10;
	scrollbar-width: thin;
}

.option-container {
	gap: 6px;
	display: flex;
	flex-direction: column;
}

.wallpapers {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.wallpaper-container {
	position: relative;
}

.wallpaper-option {
	border-radius: 6px;
	cursor: var(--cursor-pointer);
	opacity: 0.7;
	transition: 150ms ease-in-out;
}

.wallpaper-option:hover {
	opacity: 1;
}

.delete-wallpaper {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 20px;
	height: 20px;
	padding: 4px;
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 150ms ease-in-out;
	cursor: var(--cursor-pointer);
}

.buttons-flex {
	display: flex;
}

#output div span:nth-child(2) {
	word-spacing: 0.25em;
	letter-spacing: 0.25em;
	white-space: pre;
}

#wispSrvs .wisp-card:nth-child(odd) {
	background-color: #ffffff28;
}

.wisp-card {
	display: flex;
	justify-content: space-between;
	gap: 6px;
	width: calc(100% - 16px);
	padding: 6px;
	padding-left: 10px;
	border-radius: 6px;
}

.wisp-card .net {
	display: flex;
	gap: 6px;
	align-items: center;
}

.wisp-card .net-info {
	display: flex;
	flex-direction: column;
}

.wisp-card .net-info .info-text {
	font-size: 14px;
	font-weight: 650;
	font-family: Inter;
}

.wisp-card .net-info .info-text:nth-child(odd) {
	user-select: none;
}

.wisp-card .net-info .info-text:nth-child(even) {
	color: #ffffff93;
	font-weight: normal;
}

.wisp-card .latency {
	font-size: 14px;
	font-weight: 800;
	font-family: Inter;
	color: #ffffff93;
	user-select: none;
}

.wisp-card .connection-info {
	display: flex;
	gap: 6px;
	align-items: center;
}
