body[theme="light"] button.radio {
	color: #ffffff88;
}

body[theme="dark"] button.radio {
	color: #ffffff88;
}

button.radio {
	display: flex;
	gap: 6px;
	background-color: transparent;
	border: none;
	font-size: 16px;
	font-family: Inter;
	font-weight: 700;
	line-height: 16px;
	cursor: var(--cursor-pointer);
	transition: 150ms ease-in-out;
}

body[theme="light"] button.radio span.radio {
	background-color: #ffffff78;
}

button.radio span.radio {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: 150ms ease-in-out;
}

button.radio.selected {
	color: #ffffff !important;
}

button.radio.selected span.radio {
	background-color: #ffffff !important;
}

button.radio.selected span.radio span.radio-check {
	background-color: #4e8bff;
}

button.radio span.radio span.radio-check {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #00000050;
	transition: 150ms ease-in-out;
}
