.select {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: min-content;
}

.select .select-title {
	background-color: #ffffff10;
	box-shadow:
		0px 0px 6px 0px #00000052,
		inset 0 0 0 0.5px #ffffff38;
}

.select .select-title:hover {
	background-color: #ffffff36;
}

.select .select-title {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 18px;
	font-weight: 800;
	line-height: 18px;
	padding: 6px 6px 6px 10px;
	color: #ffffff;
	border-radius: 6px;
	backdrop-filter: blur(100px);
	cursor: var(--cursor-pointer);
	transition: 150ms ease-in-out;
}

.select .select-title .text {
	width: max-content;
}

.select .select-title .icon {
	width: 24px;
	height: auto;
}

.select .options {
	background-color: #ffffff10;
	box-shadow:
		0px 0px 6px 0px #00000052,
		inset 0 0 0 0.5px #ffffff38;
}

.select .options {
	position: absolute;
	top: calc(100% + 6px);
	z-index: 9;
	left: 0;
	width: 100%;
	max-height: 160px;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	overflow: auto;
	transition: 150ms ease-in-out;
}

.select .options::before {
	content: "\00A0";
	display: block;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	z-index: -1;
	border-radius: 4px;
	backdrop-filter: blur(14px);
}

.select .options .option {
	padding: 10px 10px;
	cursor: var(--cursor-pointer);
	font-weight: 650;
	transition: 150ms ease-in-out;
}

.select .options .option:hover {
	background-color: #ffffff36;
}

.select .options:not(.open) {
	opacity: 0;
	pointer-events: none;
	height: 0px;
}
