@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fade-in {
	animation: fade-in 150ms ease-in-out forwards;
}

.fade-out {
	animation: fade-out 150ms ease-in-out forwards;
}

body .context-menu {
	background-color: #ffffff1f;
	color: #ffffff;
}

body.blurry .context-menu {
	backdrop-filter: blur(100px);
}

.context-menu {
	position: absolute;
	background-color: #ffffff1f;
	color: #fff;
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 200px;
	border-radius: 8px;
	overflow: hidden;
	backdrop-filter: blur(10px);
}

.context-menu-button {
	background-color: transparent;
	display: flex;
	font-size: 15.5px;
	font-weight: 700;
	line-height: 18px;
	padding: 8px 10px;
	border-color: transparent;
	transition: 150ms ease-in-out;
	cursor: var(--cursor-pointer);
}

body .context-menu-button:hover {
	background-color: #ffffff1f;
}
